# Ignore node_modules
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore build output
dist/
build/

# Ignore environment variables
.env

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm package lock file
package-lock.json
yarn.lock
